/*
    font-family: 'Zilla Slab', serif;

    font-family: 'Bellefair', serif;

    font-family: 'Raleway', sans-serif;

    font-family: 'Cairo', sans-serif;

    font-family: 'Playfair Display', serif;
*/
body {
  background-color: #FF4136 !important;
}
.title {
  font-family: 'Zilla Slab', serif;
  color: #FFFFFF;
}
.title__head {
    font-size: 6rem;
    font-weight: 400;
    text-shadow: 1px 1px #85144b;

  }
.title__subtitle {
    font-size: 4rem;
    color: rgb(51, 57, 64);
    font-family: 'Cairo', sans-serif;
  }
.controlbox .btn {
    background-color: #FFFFFF;
    border: none;
    font-size: 3rem;
  }
.controlbox .btn:hover{
    background-color: rgb(255, 134, 128);

  }
.controlbox .btn:active .btn:visited .btn:after{
    background-color: rgb(255, 134, 128)!important;
  }
.quotebox {
  margin-top: 1.4em;
  font-size: 3rem;
}
.quotebox #quoteAuthor{
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-color: #111111;
  }
.footer {
  margin-top: 1em;
}
