@import "_variables";
/*
    font-family: 'Zilla Slab', serif;

    font-family: 'Bellefair', serif;

    font-family: 'Raleway', sans-serif;

    font-family: 'Cairo', sans-serif;

    font-family: 'Playfair Display', serif;
*/

body {
  background-color: $red !important;
}
.title {
  font-family: 'Zilla Slab', serif;
  color: $white;
  &__head {
    font-size: 6rem;
    font-weight: 400;
    text-shadow: 1px 1px $maroon;

  }
  &__subtitle {
    font-size: 4rem;
    color: color($navy whiteness(20%));
    font-family: 'Cairo', sans-serif;
  }
}

.controlbox {
  .btn {
    background-color: $white;
    border: none;
    font-size: 3rem;
  }
  .btn:hover{
    background-color: color($red whiteness(50%));

  }
  .btn:active .btn:visited .btn:after{
    background-color: color($red whiteness(50%))!important;
  }
}

.quotebox {
  margin-top: 1.4em;
  font-size: 3rem;

  #quoteAuthor{
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-color: $black;
  }
}

.footer {
  margin-top: 1em;
}
